/* este estilo es para esperar la carga de la pagina*/



/************************************/
.about-us{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 50px 50px;
}
.container-image-about{
    width: 80%;
    margin: auto;
}
.container-image-about section{
    width: 100%;

}
.container-image-about section img{
    width: 100%;
    height: auto;
}
.about-us .about-text,
.about-us .about-team,
.about-us .about_service{
    width: 88%;
    margin: auto;
}
.about-text .main-title,
.about-text .main-mision,
.about-text .main-vision,
.about-text .main-valores{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.about-text .main-title h1,
.about-text .main-vision h1,
.about-text .main-mision h1,
.about-text .main-valores h1,
.about-team .about-title h1,
.about_service .about-title h1{
    width: 100%;
    font-family: var(--font--fira--sans--semibold--);
}


.about-text .main-title h1,
.about-text .main-vision h1,
.about-team .about-title,
.about_service .about-title {
    color: var(--primary--pink);
    font-weight: bold;
}
.about-text .main-mision h1,
.about-text .main-valores h1{
    color: var(--ocre--);
    font-weight: bold;
}
.about-text .main-title p,
.about-text .main-mision p,
.about-text .main-valores p,
.about-text .main-vision p{
    font-family: var(--font--lato--regular--);
    font-size: 1.3rem;
    padding-left:30px;
    float: left;
}
.about-text .main-valores ul{
    width: 100%;
    padding-left:30px ;
    
}
.about-text .main-valores ul li{
    color: var(--primary--pink);
    font-size: 1.4rem;
    font-family: var(--font--lato--regular--);
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    
    
}
.about-text .main-valores .item{
    display: inline-block;
    width: 7px;
    height: 7px;
    position: relative;
    top: -2px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: var(--primary--pink);
}


.about-us .about-team , .about-us .about_service{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.about-team .about-title,
.about_service .about-title{
    width: 100%;
}
.about-team .team,
.about_service .team{
    width: 100%;
    padding: 30px 30px 30px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    
}
.about-team .team aside,
.about_service .team aside
{
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
}
.about-us .about-team .container-img,
.about-us .about-team .container-info,
.about-us .about_service .container-img,
.about-us .about_service .container-info{
    width: 70%;
    box-sizing: border-box;
    overflow: hidden;
    
}
.about-us .about-team .container-img,
.about-us .about_service .container-img{
    width: 30%;
    box-sizing: border-box;
    overflow: hidden;
    
}
.about-us .about-team .container-img div img,
.about-us .about_service .container-img div img{
    width: 80%;
    height: auto;
    float: left;
}
.about-us .about-team .container-info,
.about-us .about_service .container-info{
    color: var(--primary--pink);
    
}
.about-us .about-team .container-info h2,
.about-us .about-team .container-info h3,
.about-us .about_service .container-info h2,
.about-us .about_service .container-info h3
{
    font-family: var(--font--lato--regular--);
}
.about-us .about_service .container-info h2,
.about-us .about-team .container-info h2{
    font-weight: 1000;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.about-us .about-team .container-info h3,
.about-us .about_service .container-info h3{
    font-weight: lighter !important;
}



.about-us .about-team .container-info h4 a,
.about-us .about_service .container-info h4 a{
    color: var(--gris--);
    font-weight: lighter;
    font-family: var(--font--lato--regular--);

}

.about_service  .about-title h1{
    color: var(--ocre--) !important;
}


@media screen and (max-width:768px) {
           
    .container-image-about{
        width: 95% !important;

    }
    .about-us {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 50px 0px;
    }
    .about-text .main-title p, .about-text .main-mision p, .about-text .main-valores p, .about-text .main-vision p {
        font-family: var(--font--lato--regular--);
        font-size: 1.3rem;
        padding-left: 0px; 
        float: left;
    }
    .about-text .main-valores ul {
        width: 100%;
        padding-left: 0px;
    }
    .about-team .team, .about_service .team
     {
       
        padding: 0px 0px 0px 0px;
        
    }
    .about-team .team aside,
    .about_service .team aside {
        width: 100%;

    }
}
html {
    scroll-behavior: smooth;
   /*Comenta la línea (o dale el valor 'auto' a scroll behavior )
   para probar la diferencia con y sin scroll suavizado*/
}